.calculator {
  border: 1px solid #DDDDDD;
  border-radius: 5px;
  padding: 25px;
  box-shadow: 0 0 25px 0 #CCC;
  width: 85%;
  margin: 0 auto 20px;

  h1 {
    text-transform: capitalize;
    margin: 0;
    color: $info-color;
    font-size: 2em;
    font-weight: 100;
    line-height: 1.2em;
  }

  .explanation {
    color: $primary-color;
    font-size: 0.75em;
    font-weight: 100;
    font-style: italic;

    em {
      color: $warning-color;
      text-decoration: none;
      font-family: monospace;
      font-style: normal;
    }
  }

  .form {
    display: flex;
    flex-flow: row wrap;

    .new-value {
      border: 1px solid $info-color;
      padding: 10px;
      font-family: monospace;
      color: $info-color;
      margin: 0 10px 0.25em 0;
      flex: 4;
    }

    button {
      flex: 1;

      &:focus {
        outline: none;
      }

      i {
        margin-right: 10px;
      }
    }

    .options {
      display: grid;
      grid-template-columns: repeat(3, 1fr);
      width: 100%;
      padding: 5px;
      justify-content: center;

      @include breakpoint($small) {
        display: flex;
      }

      input.group {
        display: none;

        & + label {
          display: inline-block;
          border-top: 1px solid $info-color;
          border-bottom: 1px solid $info-color;
          border-left: 1px solid $info-color;
          margin: -1px 0 0 0;
          padding: 5px 15px;
          color: $info-color;
          text-align: center;

          &:first-of-type {
            @include breakpoint($small) {
              border-radius: 5px 0 0 5px;
            }
          }

          &:last-of-type {
            border-right: 1px solid $info-color;
            @include breakpoint($small) {
              border-radius: 0 5px 5px 0;
            }
          }

          &:hover {
            background: lighten($info-color, 30%);
            color: darken($info-color, 15%);
          }

          @include breakpoint(max-width $small - 1) {
            &:nth-of-type(1) {
              border-radius: 5px 0 0 0;
            }

            &:nth-of-type(3) {
              border-right: 1px solid $info-color;
              border-radius: 0 5px 0 0;
            }

            &:nth-of-type(4) {
              border-radius: 0 0 0 5px;
            }

            &:nth-of-type(6) {
              border-radius: 0 0 5px 0;
            }
          }
        }

        &:checked + label {
          cursor: default;
          background: $info-color;
          color: #FFFFFF;
          transition: color 300ms, background 300ms;

          &:after {
            left: 0;
          }
        }
      }
    }
  }

  .values-list {
    margin: 0;
    padding: 0;
    list-style: none;

    li {
      font-size: 24px;
      border-bottom: 1px solid #ededed;

      &:last-child {
        border-bottom: none;
      }

      .view {
        position: relative;
        width: max-content;
      }

      &.editing {
        border-bottom: none;
        padding: 0;

        .edit {
          display: block;
          width: calc(100% - 43px);
          padding: 12px 16px;
          margin: 0 0 0 43px;
        }

        .view {
          display: none;
        }
      }

      label {
        word-break: break-all;
        padding: 15px 60px;
        display: block;
        line-height: 1.2;
        transition: color 0.4s;
        font-family: monospace;
      }

      .destroy {
        padding: 0;
        border: 0;
        background: none;
        vertical-align: baseline;
        appearance: none;
        display: none;
        position: absolute;
        top: 0;
        right: 10px;
        bottom: 0;
        width: 40px;
        height: 40px;
        font-size: 30px;
        color: #cc9a9a;
        margin: auto 0 11px;
        transition: color 0.2s ease-out;

        &:hover {
          color: #af5b5e;
        }

        &:after {
          content: '×';
        }
      }

      :hover .destroy {
        display: block;
      }

      .edit {
        display: none;
      }

      &.editing:last-child {
        margin-bottom: -1px;
      }
    }
  }

  .results {
    font-size: 1.2em;
    display: flex;
    flex-flow: row wrap;
    margin-top: 10px;
    justify-content: space-around;

    label {
      color: #999999;
      font-weight: 100;
      margin-right: 10px;

      em {
        font-family: monospace;
        font-style: normal;
        margin-left: 5px;
      }
    }
  }
}