---
# Only the main Sass file needs front matter (the dashes are enough)
# This file overrides the default theme's styles
---

@charset "utf-8";

@import "minimal-mistakes/skins/{{ site.minimal_mistakes_skin | default: 'default' }}"; // skin
@import "minimal-mistakes"; // main partials

// Import my own stylesheets
@import "flashcards";

.layout--home {
	.initial-content {
		#main {
			.sidebar {
				h3 {
					text-align: center;
				}

				.home-logo {
					display: block;
					text-align: center;
					font-size: 50px;
					border: 5px solid $primary-color;
					border-radius: 50%;
					padding: 29px 15px;
					width: max-content;
					margin: 25px auto;
				}

				img, h3, .home-logo {
					@include breakpoint(max-width $large) {
						display: none;
					}
				}
			}
		}
	}
}

.other-interesting-pages {
	.nav__list {
		.nav__items {
			li {
				display: inline-block;

				.nav__sub-title {
					color: $info-color;
					text-transform: none;
					font-weight: 100;
					border: 1px solid $info-color;
					border-radius: 5px;
					padding: 7px 15px;
					font-size: 0.6em;

					&:hover {
						color: mix(#000000, $info-color, 20%);
						border-color:  mix(#000000, $info-color, 20%);
						background-color: lighten($info-color, 45%);
					}
				}
			}
		}
	}
}

