---
layout: default
---

<header class="clean" style="height: 350px; background-image: url({{ site.cover }});">
	{% include top.html %}
	<div id="home-title">
		<a href="{{ site.url }}">
			<img src="{{ site.icon }}" class="site-icon-page">
		</a>
	</div>
	<div id="post-info" style="bottom: 30px; text-align: center; line-height: 45px;">
		<h1>{{ page.title }}</h1>
	</div>
</header>
<div id="article">
	{{ content }}
</div>
<footer class="clean" style="background-image: url({{ site.cover }}); background-position: bottom; height: 60px;">
	<p class="copyright">
		<a href="{{ site.copyright.url }}" target="_blank">{{ site.copyright.author }}</a> {{ site.time | date: "%Y" }}.

		<a rel="license" href="{{ site.copyright.type_url }}" target="_blank">
			<img alt="(CC BY-NC 4.0)" style="border-width:0" src="{{ site.copyright.image_url }}" />
		</a>

		Theme based on <a href="https://github.com/camporez/Thinny/releases/tag/v2.1-cosette" rel="dct:source">Thinny 2.1</a>
	</p>
</footer>
